
.panel {
    background-color: teal;
    overflow-wrap: anywhere;
}

.panel ul {
    list-style: none;
    text-align: left;
    height: 30rem;
    overflow-y: auto;
}

.panel ul li:hover {
    background-color: steelblue;
}

.selected {
  background-color: steelblue;
}
